before_script:
  - gem install bundler --no-ri --no-rdoc --version=1.13.7
  - RAILS_ENV=test bundle install

stages:
  - linting
  - code_analysis
  - testing
  - deployment

linting:
  stage: linting
  script:
    - bin/linters
  tags:
    - dalphi

code_analysis:
  stage: code_analysis
  script:
    - bin/code-analyzers
  tags:
    - dalphi

testing:
  stage: testing
  script:
    - bin/test
  tags:
    - dalphi

deployment:
  stage: deployment
  script:
    - bin/deploy
  only:
    - master
  tags:
    - dalphi
