.container
  == render 'form',
            project: @project,
            raw_datum: @raw_datum,
            raw_data_shapes: RawDatum::SHAPES,
            upload_mime_types: RawDatum::MIME_TYPES.values.first
