- locale_key = "projects.dashboard-card.services.compatibility.tooltips.#{tooltip}"

.compatibility-status-sign.no-display class="#{additional_class}" data-toggle='tooltip' data-placement='bottom' title="#{t(locale_key)}"
  = fa_icon icon
