.card-block
  .card-text
    .form-inputs
      = form.input service_name.to_sym,
        collection: available_services,
        name: service_name,
        selected: project.send(service_name.to_sym),
        include_blank: true,
        label_method: -> (service) { service.title },
        input_html: { class: 'c-select' }
