.interfaces-staging {
  .template {
    display: none;
  }
}

.blank-slate {
  .easter-egg {
    padding-left: 1.875rem;

    img {
      float: right;
      width: 15rem;
    }
  }

  p {
    width: calc(100% - 16.875rem);
  }
}

.navigation {
  background-color: $color-0;
  border-radius: .25rem;
  bottom: 0;
  box-shadow: $annotation-document-controls-box-shadow;
  height: 2.4rem;
  left: 50%;
  margin: 0 0 1rem;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;

  @include media-breakpoint-up(md) {
    left: calc(50% + #{$sidebar-width / 2});
  }

  .btn-toolbar {
    display: inline-block;
  }
}
