.interfaces-staging {
  .template {
    display: none;
  }
}

.blank-slate {
  .easter-egg {
    padding-left: 1.875rem;

    img {
      float: right;
      width: 15rem;
    }
  }

  p {
    width: calc(100% - 16.875rem);
  }
}

.navigation {
  margin: 0 0 1rem;
  text-align: center;

  .btn-toolbar {
    display: inline-block;
  }
}
