/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require cookies_eu
 *= require_self
 */

// general definitions
@import 'variables';
@import 'bootstrap-overwrites';
@import 'fonts';

// gems & dependencies
@import 'bootstrap';
@import 'bootstrap-tokenfield';
@import 'font-awesome';
@import './jQuery_plugins/jquery.numberedtextarea.scss';

// partial styling
@import 'content-container';
@import 'topbar';
@import 'sidebar';
@import 'services';
@import 'styleguide';
@import 'projects';
@import 'connectivity-indicator';

html,
body {
  color: $color-2;
  font-family: 'Roboto Light', sans-serif;
  height: 100%;
  width: 100%;

  &.turbolinks-progress-bar::before {
    // scss-lint:disable ImportantRule
    background-color: $color-4 !important;
    border-radius: 1px;
    box-shadow: 0 0 2px $color-4;
    height: 2px !important;
    z-index: 99999;
  }
}

body {
  background-color: $color-1;
  padding-top: $topbar-height;
}

a {
  color: $color-4;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  color: $color-5;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-2;
  font-family: 'RobotoCondensed Regular', sans-serif;
  text-transform: uppercase;
}

h1,
h2 {
  color: $color-4;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  span {
    display: block;
  }
}

.inline-block {
  display: inline-block;
}

.dalphi-logo {
  path {
    fill: $color-4;
  }
}

.btn-row {
  text-align: right;

  .btn {
    margin: $btn-row-margin;
  }

  .btn:last-of-type {
    margin-right: 0;
  }
}

tr {
  &[data-href] {
    &:hover {
      cursor: pointer;
    }
  }
}

td {
  &.controls {
    text-align: right;
    visibility: hidden;
    width: $td-controls-width;
  }
}

.touch,
tr:hover {
  td {
    &.controls {
      visibility: visible;
    }
  }
}

th {
  text-transform: capitalize;
}

.alert {
  border-radius: 0;
  margin: 0;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
  }

  button {
    position: absolute;
    right: $container-margin;
    top: $alert-button-top;
  }
}

label {
  abbr {
    &[title] {
      border: 0;
      text-decoration: none;
    }
  }

  &.file {
    height: auto;
  }
}

input {
  &.file {
    min-width: 100%;
    opacity: 1;
  }

  &.boolean {
    margin-right: $input-boolean-margin-right;
  }
}

[alt='Gravatar'] {
  border-radius: $gravatar-border-radius;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

[readonly='readonly'] {
  pointer-events: none;
}

.card {
  height: 100%;

  .list-group {
    margin: $services-list-group-margin;
  }

  .list-group-item {
    &:first-of-type {
      border-radius: 0;
    }
  }
}

.card-block:not(:last-child) {
  padding-bottom: 0;
}

.text-right {
  text-align: right;
}
