.connection-details {
  position: relative;

  .no-display {
    display: none;
  }
}

.compatibility-status-sign,
.connectivity-sign {
  display: inline-block;
  margin-right: .1rem;

  &.available {
    color: $color-4-1;
  }

  &.checking {
    color: $color-3-2;
  }

  &.down,
  &.not-set {
    color: $color-7-1;
  }

  &.undefined {
    color: $color-3-2;
  }
}
