.connection-details,
.compatibility-check-details,
.raw-data-availability-details,
.interface-status-details,
.selected-interfaces,
.card-text {
  display: inline-block;
  position: relative;

  .no-display {
    display: none;
  }
}

.compatibility-status-sign,
.compatibility-state-sign,
.connectivity-sign,
.interface-selected-sign,
.raw-data-state-sign {
  display: inline-block;
  margin-right: .1rem;

  &.available,
  &.selected,
  &.compatible {
    color: $color-4-1;
  }

  &.checking {
    color: $color-3-2;
  }

  &.down,
  &.not-set,
  &.not-selected,
  &.unavailable,
  &.incompatible,
  &.empty {
    color: $color-7-1;
  }

  &.undefined {
    color: $color-3-2;
  }
}
