.content-container {
  margin-top: $container-margin;
  min-height: calc(100% - 1rem);
  padding: $container-padding;
  width: 100%;

  @include media-breakpoint-up(md) {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
  }
}
