.interfaces {
  .btn-sm {
    position: absolute;
    right: $card-header-btn-sm-right;
    top: $card-header-btn-sm-top;
    z-index: 1;
  }

  .interface-preview-btn {
    position: absolute;
    right: $card-header-btn-sm-right;
    top: $card-item-button-margin;
    z-index: 1;
  }
}

.inline-container-col {
  padding: 0;

  .problem-labels {
    .label {
      margin-left: $inline-margin;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.ace-editor-label {
  margin-bottom: $input-label-margin-bottom;
}

.code-input {
  height: 15rem;
  margin-bottom: $container-margin;
  position: relative;
  width: 100%;
}

.tokenfield {
  .token {
    line-height: 1.3rem;
    margin-top: 0;

    .close {
      line-height: 1.4rem;
    }
  }
}

.ui-autocomplete {
  li {
    font-family: 'Roboto Light', sans-serif;
    font-size: $h5-font-size;
  }

  .ui-state-focus {
    background-color: $color-1-2;
    background-image: none;
  }
}
