// Place all the styles related to the Interfaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ace-editor-label {
  margin-bottom: $input-label-margin-bottom;
}

.code-input {
  height: 15rem;
  margin-bottom: $container-margin;
  position: relative;
  width: 100%;
}

.problem-labels {
  .label {
    margin-left: $inline-margin;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
