.projects {
  table {
    td {
      a {
        color: $color-2;
      }
    }
  }

  .card {
    .card-titleo {
      margin-bottom: $input-label-margin-bottom;
    }

    .card-text {
      .create-new-service-notice {
        margin-top: -$input-label-margin-bottom;
      }
    }

    .list-group {
      margin: $projects-list-group-margin-top 0 0;
    }

    .list-group-item {
      border: 0;
    }
  }

  .dashboard-card {
    .compatibility-check-details,
    .service-status-sign,
    .interface-status-sign,
    .raw-data-availability-details {
      display: inline-block;
      margin-right: $inline-margin;
    }

    .service-state-description,
    .card-text {
      small {
        margin-left: $inline-margin;
      }
    }

    ul {
      list-style: none;

      li {
        margin-left: -$container-margin;
      }
    }

    .selected-interfaces {
      .checking {
        text-align: center;
      }
    }
  }
}
