.projects {
  .card {
    .card-titleo {
      margin-bottom: $input-label-margin-bottom;
    }

    .card-text {
      .create-new-service-notice {
        margin-top: -$input-label-margin-bottom;
      }
    }

    .list-group {
      margin: $projects-list-group-margin-top 0 0;
    }

    .list-group-item {
      border: 0;
    }
  }

  .dashboard-card {
    .compatibility-status-sign,
    .service-status-sign {
      display: inline-block;
      margin-right: $inline-margin;
    }

    .service-state-description {
      small {
        margin-left: $inline-margin;
      }
    }

    ul {
      list-style: none;

      li {
        margin-left: -$container-margin;
      }
    }
  }
}
