.services {
  .service-search {
    margin-bottom: $services-service-search-margin-bottom;
  }

  .btn-sm {
    position: absolute;
    right: $services-btn-sm-right;
    top: $services-btn-sm-top;
    z-index: 1;
  }

  .card {
    height: 100%;
  }

  .list-group {
    margin: $services-list-group-margin;
  }

  .list-group-item {
    &:first-of-type {
      border-radius: 0;
    }
  }

  .connection-details {
    position: relative;
  }

  .connectivity-sign {
    display: inline-block;
    margin-right: .1rem;

    &.available {
      color: $color-4-1;
    }

    &.checking {
      color: $color-3-2;
    }

    &.down {
      color: $color-7-1;
    }
  }
}
