.services {
  .service-search {
    margin-bottom: 1rem;
  }

  .btn-sm {
    position: absolute;
    right: .5625rem;
    top: .5625rem;
    z-index: 1;
  }

  .card {
    height: 100%;

  }

  .list-group {
    margin: -.5625rem -.0625rem -.0625rem;
  }

  .list-group-item {
    &:first-of-type {
      border-radius: 0;
    }
  }
}
