.services {
  .service-search {
    margin-bottom: $services-service-search-margin-bottom;
  }

  .btn-sm {
    position: absolute;
    right: $services-btn-sm-right;
    top: $services-btn-sm-top;
    z-index: 1;
  }

  .card {
    height: 100%;
  }

  .list-group {
    margin: $services-list-group-margin;
  }

  .list-group-item {
    &:first-of-type {
      border-radius: 0;
    }

    .service-title {
      display: inline-block;
    }
  }

  .address-label {
    margin-bottom: $form-label-margin-bottom;

    .title {
      display: inline-block;
      margin-right: $form-label-margin-bottom;
    }

    .connection-details {
      display: inline-block;
    }
  }
}
