.sidebar {
  background-color: $color-3;
  bottom: 0;
  box-shadow: 0 .3125rem $navigation-box-shaddow;
  color: $color-1;
  height: calc(100% - #{$topbar-height});
  left: -100%;
  padding: $container-padding;
  position: fixed;
  top: $topbar-height;
  transition: left $default-transition-duration;
  width: 100%;

  @include media-breakpoint-up(sm) {
    left: -$sidebar-width;
    padding: $container-padding;
    width: $sidebar-width;
  }

  @include media-breakpoint-up(md) {
    height: 100%;
    left: 0;
    top: 0;
  }

  &.expanded {
    left: 0;
  }

  > div {
    width: calc(100% - #{2 * $container-padding});
  }

  p {
    font-size: $small-font-size;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0 .1875rem;
    }
  }

  .header {
    margin-top: $default-margin;
    position: absolute;
    text-align: center;
    top: 0;

    h1 {
      margin-top: .5rem;
    }
  }

  .footer {
    bottom: 0;
    font-size: $small-font-size;
    position: absolute;
    text-align: center;
  }
}
