.sidebar {
  background-color: $color-3;
  bottom: 0;
  box-shadow: 0 .3125rem $navigation-box-shadow;
  color: $color-1;
  height: 100%;
  left: -100%;
  padding: $container-padding;
  position: fixed;
  top: 0;
  transition: left $default-transition-duration;
  width: $sidebar-xs-width;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    left: -$sidebar-width;
    padding: $container-padding;
    width: $sidebar-width;
  }

  @include media-breakpoint-up(md) {
    left: 0;
  }

  &.expanded {
    left: 0;
  }

  > div {
    width: calc(100% - #{2 * $container-padding});
  }

  p {
    font-size: $small-font-size;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0 .1875rem;
    }
  }

  .header {
    margin-top: $default-margin;
    position: absolute;
    text-align: center;
    top: 0;

    .toggle-sidebar {
      color: $color-1;
      font-size: 1.3rem;
      margin-top: -.4rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    h1 {
      margin-top: .5rem;
    }
  }

  .footer {
    bottom: 0;
    font-size: $small-font-size;
    position: absolute;
    text-align: center;
  }

  .nav {
    margin: 0 0 0 -.625rem;
    width: calc(100% + 1.25rem);

    li {
      margin: 0;
      text-align: left;
      text-transform: capitalize;

      a {
        color: $color-1;
        display: inline-block;
        padding: .5rem 0 .5rem .75rem;
        width: 100%;

        &:hover {
          color: $color-1;
        }
      }

      &.active {
        background-color: $color-3-2;
        border-left: .25rem solid $color-4;

        a {
          padding: .5rem 0 .5rem .5rem;
        }
      }

      &:hover {
        background-color: $color-3-1;
      }
    }
  }
}
