.sidebar {
  background-color: $color-3;
  bottom: 0;
  box-shadow: 0 2px $navigation-box-shaddow;
  color: $color-1;
  height: 100%;
  left: -100%;
  padding: $container-padding;
  position: fixed;
  top: 0;
  transition: left $default-transition-duration;
  width: 100%;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    left: -$sidebar-width;
    padding: $container-padding;
    width: $sidebar-width;
  }

  @include media-breakpoint-up(md) {
    left: 0;
  }

  &.expanded {
    left: 0;
  }

  > div {
    width: calc(100% - #{2 * $container-padding});
  }

  p {
    font-size: $small-font-size;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 0 3px;
    }
  }

  .header {
    margin-top: $default-margin;
    position: absolute;
    text-align: center;
    top: 0;

    .toggle-sidebar {
      color: $color-1;
      font-size: 1.3rem;
      margin-top: -0.4rem;
      position: absolute;
      right: 0;
      top: 0;
    }

    h1 {
      margin-top: 8px;
    }
  }

  .footer {
    bottom: 0;
    font-size: $small-font-size;
    position: absolute;
    text-align: center;
  }
}
