.color-comparison {
  .col-xs-1 {
    text-align: center;
    width: 14.28%;
  }
}

.color-rectangle {
  height: $h1-font-size;
  width: 100%;

  &.light-text-color {
    color: $color-1;
  }
}

.background-color-1 {
  background-color: $color-1;
}

.background-color-1-1 {
  background-color: $color-1-1;
}

.background-color-1-2 {
  background-color: $color-1-2;
}

.background-color-1-3 {
  background-color: $color-1-3;
}

.background-color-2 {
  background-color: $color-2;
}

.background-color-3 {
  background-color: $color-3;
}

.background-color-3-1 {
  background-color: $color-3-1;
}

.background-color-3-2 {
  background-color: $color-3-2;
}

.background-color-3-3 {
  background-color: $color-3-3;
}

.background-color-3-11 {
  background-color: $color-3-11;
}

.background-color-4 {
  background-color: $color-4;
}

.background-color-4-1 {
  background-color: $color-4-1;
}

.background-color-5 {
  background-color: $color-5;
}

.background-color-5-11 {
  background-color: $color-5-11;
}

.background-color-6 {
  background-color: $color-6;
}

.background-color-7 {
  background-color: $color-7;
}

.background-color-7-1 {
  background-color: $color-7-1;
}

.background-color-7-11 {
  background-color: $color-7-11;
}

.background-color-7-12 {
  background-color: $color-7-12;
}
