.topbar {
  background-color: $color-3;
  border-radius: 0;
  color: $color-4;
  height: $topbar-height;
  line-height: $topbar-height;
  position: fixed;
  top: 0;
  width: 100%;

  .fa {
    font-size: $h2-icon-size;
  }
}
