// global color definitions; color description; general use for
$color-1: #fbfcfc; // alabaster; general background
$color-1-1: darken($color-1, 2.5); // table row background
$color-1-2: darken($color-1, 5); // table row background hover
$color-1-3: darken($color-1, 10); // table head background
$color-2: #1f2634; // black pearl; text color
$color-3: #586681; // dark electric blue; navigation background
$color-3-1: darken($color-3, 2.5);
$color-3-2: darken($color-3, 5);
$color-3-3: darken($color-3, 10);
$color-4: #93b449; // green smoke; highlight special words
$color-5: #b6cd82; // pine glade; color-1 / color-4 hover
$color-6: rgba(0, 0, 0, .26); // transparent black; shadow color

// global transparent colors
$dark-curtain-color: rgba(0, 0, 0, .35);

// global size definitions
$container-padding: .625rem;
$content-container-top-margin: .8125rem;
$default-margin: .625rem;
$h1-font-size: 2.375rem;
$h2-font-size: 2rem;
$h2-icon-size: 2rem;
$h3-font-size: 1.375rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: .875rem;
$navbar-padding-horizontal-md-up: 1.563rem;
$navbar-padding-horizontal: 1rem;
$navbar-padding-vertical: .5rem;
$sidebar-width: 15.63rem;
$small-font-size: .75rem;
$topbar-height: 3.375rem;

// durations
$default-transition-duration: .5s;

// global shadow definitions
$navigation-box-shadow: .3125rem $color-6;
